@media (min-width: 570px) {
  body {
    margin: 0%;
    font-family: Arial;
  }

  header {
    max-width: 100%;
    min-width: 570px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #103a79;
    height: 50px;
  }

  .ico a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
  }

  header .first {
    position: absolute;
    max-width: 300px;
    margin-left: 150px;
  }

  .first a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  .sing a {
    width: 370px;
    min-width: 570px;
    font-size: 17px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    margin-right: 15px;
    padding: 10px;
  }

  .form {
    height: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
  }

  .form form {
    width: 100%;
    margin: 20px;
  }

  .form input[type="text"] {
    width: 30%;
    padding: 6px;
    margin: 5px;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 5px;
    max-width: 570px;
    background-color: whitesmoke;
  }

  .form select {
    width: 10%;
    max-width: 570px;
    margin: 2px;
    color: gray;
    padding: 4px;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 5px;
    background-color: whitesmoke;
  }

  .form a {
    border: 2px solid rgb(153, 153, 153);
    margin: 3px;
    width: 100px;
    background-color: whitesmoke;
    padding: 4px;
    text-decoration: none;
    color: gray;
    border-radius: 5px;
  }

  .form i {
    margin-right: 10px;
  }

  button[type="menu"] {
    margin: 0px auto;
    padding: 6px;
    margin-left: 5px;
    width: 17%;
    background-color: #103a79;
    color: white;
    border: 2px solid #103a79;
    border-radius: 5px;
    cursor: pointer;
  }

  main {
    width: 100%;
    min-width: 579px;
  }

  main .light-house {
    width: 350px;
    position: absolute;
    padding: 20px;
    color: white;
    line-height: 34px;
    margin: 70px 30px;
  }

  .light-house h1 {
    font-size: 40px;
  }

  .light-house span {
    font-size: 17px;
  }

  .image img {
    width: 100%;
    border-radius: 5px;
  }

  .light-house a {
    border: 2px solid #00a0eb;
    background-color: #00a0eb;
    color: white;
    padding: 13px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }

  .display {
    width: 100%;
    text-align: center;
  }

  .display h2 {
    padding: 5px;
  }

  .display p {
    color: gray;
    padding: 5px;
  }

  section {
    width: 100%;
  }

  .rooms input[type="image"] {
    width: 100%;
    display: inline;
    border-radius: 5px;
  }

  .rom {
    /* min-width: 570px; */
    width: 300px;
    padding: 5px;
    line-height: 20px;
    border: 1px solid gray;
    margin: 0px auto;
    margin-bottom: 30px;
  }

  .rooms {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .text {
    padding: 10px;
  }

  .text b {
    color: #00a0eb;
  }

  .text p {
    color: gray;
  }

  .down-icon {
    border-top: 1px solid gray;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
  }

  .down-icon a {
    color: gray;
    text-decoration: none;
  }

  article {
    width: 100%;
    text-align: center;
    background-image: url(/images/back-2.webp);
  }

  .property-sale h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
  }

  .poster {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
  }

  article h3 {
    font-size: 33px;
    color: white;
    display: block;
  }

  .poster .card {
    padding: 20px;
    background-color: #00a0eb;
    color: white;
    margin-bottom: 20px;
  }

  .card i {
    font-size: 25px;
    text-align: center;
  }

  section.property-sale {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .prop {
    margin: 0px auto;
    width: 300px;
    padding: 5px;
    border: 1px solid gray;
    margin-bottom: 20px;
    text-align: center;
  }

  .prop b {
    color: #00a0eb;
  }

  .down-icon-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    font-size: 16px;
  }

  .down-icon-1 a {
    text-decoration: none;
    color: gray;
  }

  .prop input[type="image"] {
    width: 100%;
  }

  .property-sale {
    width: 100%;
  }

  .important-sale {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .explore {
    width: 100%;
    height: 250px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
    background-color: whitesmoke;
  }

  .explore h2 {
    font-size: 25px;
    margin: 0px;
    padding: 20px;
    position: relative;
    top: 30px;
  }

  .explore p {
    width: 450px;
    padding: 20px;
    font-size: 20px;
  }

  .explore a {
    border: 1px solid #00a0eb;
    padding: 10px;
    margin: 20px 20px;
    width: 100px;
    text-decoration: none;
    background-color: #00a0eb;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  nav {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center;
  }

  .card-icon input[type="image"] {
    padding: 5px;
    margin-top: 25px;
  }

  .card-icon h3 {
    margin: 0px;
    font-weight: normal;
  }

  nav .card-icon {
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: whitesmoke;
  }

  .our-agents {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .title-agent {
    width: 100%;
    display: flex;
  }

  .title-2 {
    width: 100%;
    text-align: center;
  }

  .title-agent h4 {
    padding: 5px;
  }

  .title-agent p {
    color: gray;
    padding: 5px;
  }

  .agent-picture input[type="image"] {
    width: 80%;
  }

  .our-agents .agent-picture {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
  }

  main.subscribe-newsletter {
    width: 100%;
    height: 350px;
    background-color: #103a79;
    color: white;
    line-height: 20px;
    margin-top: 30px;
  }

  main .started {
    width: 280px;
    padding: 25px;
  }

  .started p {
    line-height: 30px;
    width: 400px;
  }

  .started input[type="email"] {
    display: block;
    margin-bottom: 30px;
    border: none;
    background-color: #103a79;
    border-bottom: 2px solid lightgray;
    padding: 10px;
    width: 350px;
  }

  .started input[type="email"]::placeholder {
    color: lightgray;
  }

  .started button[type="button"] {
    border: 1px solid #00a0eb;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    background-color: #00a0eb;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  footer {
    width: 100%;
    position: relative;
    top: 570px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .iconi a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
  }

  .iconi p {
    color: gray;
    padding: 5px;
  }

  footer .iconi {
    width: 250px;
    padding: 20px;
    line-height: 30px;
  }

  .iconi input[type="image"] {
    width: 50px;
    margin-right: 8px;
  }

  .iconi i {
    margin: 10px;
    color: gray;
  }

  .navigation {
    padding: 10px;
  }

  .navigation h3 {
    padding: 10px;
    margin-left: 10px;
  }

  .navigation ul li {
    list-style: none;
    margin: 10px 0px;
  }

  .navigation a {
    text-decoration: none;
    color: gray;
  }
  .contact-us {
    padding: 20px;
    margin: 0px 10px;
    list-style: none;
    text-decoration: none;
    line-height: 40px;
  }

  .contact-us b {
    display: block;
    font-size: 25px;
  }

  .contact-us a {
    display: block;
  }

  address {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    position: absolute;
    top: 750px;
  }

  address p {
    width: 600px;
    padding: 20px;
  }

  address span {
    color: #00a0eb;
  }

  address a {
    font-size: 25px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    bottom: -20px;
    float: right;
    text-align: center;
    padding: 10px;
    background-color: #00a0eb;
    color: white;
    width: 30px;
  }
}
